{% comment %}
  Takes the following arguments:

  - image
  - headline
  - copy
  - flipped: {Boolean} (optional) dictates if the image is left or right
{% endcomment %}

{% capture image_half %}
  <div class="split-content__half">
    <img class="split-content__image" src="{{ image }}" alt="" />
  </div>
{% endcapture %}

<section class="split-content">
  {% unless flipped %}
    {{ image_half }}
  {% endunless %}

  <div class="split-content__half">
    <div class="split-content__text">
      <h2 class="split-content__headline">{{ headline }}</h2>
      <p class="split-content__copy">{{ copy }}</p>
      <button class="button">See More</button>
    </div>
  </div>

  {% if flipped %}
    {{ image_half }}
  {% endif%}
</section>